
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&family=Romanesco&family=Tangerine:wght@700&display=swap');
</style>

h4{ }

section {

  display: flex;
  justify-content: flex-end;
  padding: 6em;
}

p {
    font-size: 1em;
    font-family: 'IM Fell Double Pica', serif;
    color: rgb(255, 255, 255);
    text-align: right;
    text-align: justify;
    max-width: 320px
}



header {
  color: rgb(255, 255, 255);
  font-family: 'Romanesco', cursive;
  font-size: 5em;
  text-align: right;
  text-align: justify;
  display: flex;
  justify-content: flex-end;
}

h1 {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 2em;
  color: rgb(255, 255, 255);
font-family: 'Tangerine', cursive;
text-align: right;
text-align: justify;
  justify-content: flex-end;
}
