
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica&family=Romanesco&family=Tangerine:wght@700&display=swap');
</style>

h4{ }

h2 {
    font-size: 1em;
    font-family: 'IM Fell Double Pica', serif;
    color: rgb(255, 255, 255);
    text-align: right;
    text-align: justify;
    margin-left: 900px;
    margin-top: 50px;
    margin-right: 200px;
}



h1 {
  color: rgb(255, 255, 255);
  font-family: 'Romanesco', cursive;
  font-size: 5em;
  margin-left: 800px;
  margin-top:100px;

}

h3 {
  font-size: 2em;
  color: rgb(255, 255, 255);
font-family: 'Tangerine', cursive;
text-align: right;
text-align: justify;
    margin-right: 200px;
    margin-left: 900px;
